echo {
    font-size: 30px;
    width: 30px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(imagen/ojos.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

span {
    cursor: pointer;
}


/*<!-- final de la validacio-->*/

nav {
    margin: 3px;
    margin-bottom: 3px;
}

ul {
    list-style: none;
}

.nav li a {
    color: black;
    text-decoration: none;
    padding: 5px 5px;
    display: block;
}

.nav li a:hover {
    background-color: #5DADE2;
}

.nav li ul {
    display: none;
}

.nav li:hover>ul {
    display: block;
}