
/*--end reset--*/
body {
    font-family: 'Open Sans', sans-serif;
  
    background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
} 
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}  

.agileinfo-row {
    float: left;
    width: 48%;
}
.agileinfo-row.w3ls-row2 {
    float:right; 
}
.main-agileinfo {
 
    margin: 0 auto;

    
} 
